@model Capenexislearners2023.Models.Courses

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoursesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoursesDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilitatorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilitatorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CoursesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
