@model IEnumerable<Capenexislearners2023.Models.Courses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Courses" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CoursesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursesDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilitatorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoursesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoursesDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilitatorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoursesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoursesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoursesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
